@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", "arial";
}

main {
  overflow-x: hidden;
}

@layer utilities {
  .bg-primary-gradient {
    background: rgb(202, 109, 255);
    background: linear-gradient(
      90deg,
      rgba(202, 109, 255, 1) 0%,
      rgba(178, 171, 242, 1) 100%
    );
  }
}
